/vendor/
/node_modules/
/public/build/
/public/hot
node_modules/.vite
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/phpunit.xml.env
Homestead.yaml
Homestead.json
/storage/*.key
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/.idea
/.vscode
/.fleet
/.sublime
*.log
*.lock
.DS_Store
Thumbs.db
/.phpunit.cache/
.env.local
.env.testing
.env.testing.*.local
