/vendor/
/node_modules/
/public/build/
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/phpunit.xml.env
Homestead.yaml
Homestead.json
/storage/*.key
/.idea
/.vscode
/.fleet
/.sublime
*.log
*.lock
.DS_Store
Thumbs.db
/.phpunit.cache/
.env.local
.env.testing
.env.testing.*.local
