parameters:
    level: max
    paths:
        - app/
    excludePaths:
        - app/Shared/Exceptions/BaseException.php
    ignoreErrors:
        - '#Parameter .* expects array<string, mixed>, array<int, .*> given#'
    reportUnmatchedIgnoredErrors: false