@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 60% 96%;
    --foreground: 30 30% 12%;
    --muted: 40 30% 93%;
    --muted-foreground: 30 15% 38%;
    --popover: 60 50% 99%;
    --popover-foreground: 30 30% 12%;
    --card: 60 50% 99%;
    --card-foreground: 30 30% 12%;
    --border: 40 25% 82%;
    --input: 40 25% 82%;
    --primary: 42 70% 48%;
    --primary-foreground: 60 60% 98%;
    --secondary: 40 35% 88%;
    --secondary-foreground: 30 30% 18%;
    --accent: 42 75% 42%;
    --accent-foreground: 60 60% 98%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 42 70% 48%;
    --radius: 0.5rem;
	--sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 30 20% 8%;
    --foreground: 60 30% 92%;
    --muted: 30 15% 18%;
    --muted-foreground: 60 15% 65%;
    --popover: 30 20% 12%;
    --popover-foreground: 60 30% 92%;
    --card: 30 20% 12%;
    --card-foreground: 60 30% 92%;
    --border: 30 20% 25%;
    --input: 30 20% 25%;
    --primary: 42 70% 55%;
    --primary-foreground: 30 20% 10%;
    --secondary: 30 15% 22%;
    --secondary-foreground: 60 30% 92%;
    --accent: 42 80% 50%;
    --accent-foreground: 30 20% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 42 70% 55%;
	--sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 5.9% 10%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 213 27% 84%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}